@page
@model Kino_festivalis.Pages.FilmaiModel
@{
}

<h2>Filmai</h2>
<table class="table">
  <tr>
    <th>Film ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Release Year</th>
    <th>Length</th>
    <th>Rating</th>
  </tr>
</table>
